.site-header {
    margin: 0 0 3.5%;
    height: 75vh;

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .bar {
        padding: 50px 0 0;
        display: flex;
        align-items: center;
        width: 100%;
        z-index: 9;

        .site-logo {
            position: relative;
            transition: all 0.25s;

            span {
                font-size: 16px;
                border-bottom: 1px solid var(--body-color);
                margin: 0 0 0 25px;
                line-height: 1;
            }

            img {
                width: 65px;
            }

            a {
                display: flex;
                align-items: center;
                color: var(--body-color);
                text-decoration: none;
            }
        }

        .back--button {
            flex-grow: 1;
            text-align: right;

            a {
                color: var(--body-color);
                text-decoration: none;
            }
        }

        nav {
            flex-grow: 1;
            text-align: right;

            ul,
            li {
                list-style: none;
                padding: 0;
                margin: 0;
            }

            ul {
                li {
                    display: inline-block;
                    padding: 0 20px;

                    a {
                        color: var(--body-color);
                        text-decoration: none;
                        font-size: 18px;
                        transition: all 0.25s;

                        &:hover {
                            color: var(--main-color);
                        }
                    }

                    &.current-menu-item {
                        a {
                            color: var(--main-color);
                        }
                    }
                }
            }
        }

        .social--network {
            font-size: 24px;
            text-align: right;

            a {
                color: var(--body-color);
                text-decoration: none;
                transition: all 0.25s;

                &:hover {
                    color: var(--main-color);
                }
            }
        }

        .email-link {
            color: var(--body-color);
            text-decoration: none;
            font-size: 1.25em;
            font-weight: 500;
        }
    }

    .site-info {
        color: var(--body-color);
        padding: 10% 0;

        h2 {
            margin: 0;
            font-size: 1.5em;
            line-height: 125%;
            font-weight: 400;
        }

        a {
            color: var(--body-color);
            text-decoration: none;
            border-bottom: 2px solid #000;
        }
    }
}

.home {
    .page--title {
        .main {
            font-weight: 500;

            span {
                color: #ccc;
                text-decoration: underline;
            }
        }

        @include desktop-up {
            max-width: 65%;
        }
    }
}

.page--title {
    font-size: 18px;
    line-height: 1.45em;
    font-weight: 400;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include desktop-up {
        font-size: var(--base-heading-size);
    }

    .subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        display: block;
    }

    a {
        color: var(--body-color);
        text-decoration: none;
    }

    .blog-title {
        color: var(--body-color);
        padding: 0 0 10px 0;
        margin: 0 0 0 0;
        position: relative;
        display: inline-block;
        font-size: var(--base-heading-size);
        font-weight: 500;

        &:after {
            content: '';
            width: 50px;
            height: 1px;
            background-color: var(--main-color);
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .post--meta {
        .tags {
            font-size: 14px;
            font-weight: 400;
            line-height: 1;

            span {
                background: var(--body-color);
                color: #fff;
                margin: 0 5px 0 0;
                padding: 5px;
                display: inline-block;
            }
        }

        .date {
            font-size: 14px;
            font-weight: normal;
            margin: 10px 0;
        }
    }
}

.single {
    .page--title {
        text-align: center;

        .blog-title {
            &:after {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.hamburger {
    flex-grow: 1;
    text-align: right;

    .mobile-hamburger {
        cursor: pointer;
        position: relative;
        width: 40px;
        display: inline-block;
        z-index: 99992;

        span {
            background-color: var(--body-color);
            border-radius: 5px;
            height: 4px;
            width: 40px;
            margin-bottom: 5px;
            display: block;
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &.open {
            transition: all 0.2s ease-in-out;

            span {
                transition: all 0.25s;
                background: #fff;

                &.line1 {
                    transform: rotate(45deg) translate(12px, 0);
                    -webkit-transform: rotate(45deg) translate(12px, 0);
                    -moz-transform: rotate(45deg) translate(12px, 0);
                    -ms-transform: rotate(45deg) translate(12px, 0);
                    -o-transform: rotate(45deg) translate(12px, 0);
                }

                &.line2,
                &.line4 {
                    opacity: 0;
                }

                &.line3 {
                    transform: rotate(-45deg) translate(13px, 0);
                    -webkit-transform: rotate(-45deg) translate(13px, 0);
                    -moz-transform: rotate(-45deg) translate(13px, 0);
                    -ms-transform: rotate(-45deg) translate(13px, 0);
                    -o-transform: rotate(-45deg) translate(13px, 0);
                }
            }
        }
    }
}

.side--nav {
    background: var(--body-color);
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 9;
    right: -100%;
    transition: right 1s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
    padding: 125px 50px 50px 75px;
    color: #fff;

    &.open {
        right: 0;
    }

    nav {

        ul,
        li {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        ul {
            li {
                display: block;
                width: 100%;

                a {
                    display: block;
                    color: #fff;
                    font-size: 46px;
                    text-decoration: none;
                    font-weight: 700;
                    position: relative;
                    display: inline-block;

                    &:after {
                        content: '';
                        height: 5px;
                        background: #fff;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 0;
                        transition: width 0.5s ease-in-out;
                    }

                    &:hover {
                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}