.container {
  max-width: 90%;
  margin: 0 auto;
}

.post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post {
  padding: 20px 0;
  font-size: 1.2em;
  color: #fff;
  border-top: 1px solid #ececec;

  &:last-of-type {
    border-bottom: 1px solid #ececec;
  }

  a {
    color: #2d3436;
    text-decoration: none;
    transition: all 0.25s;

    &:hover {
      color: $accentColor;
    }
  }

  .date {
    color: #adadad;
  }

  .tags {
    .post--tag {
      background: #000;
      font-size: 0.5em;
      padding: 5px;
      margin: 10px 5px 0 0;
      display: inline-block;
      line-height: 1;
    }
  }
}

.single {
  .site-info {
    text-align: center;
  }

  .post--nav {
    padding: 25px 0 0;
    margin: 25px 0 0;
    border-top: 1px solid #ececec;
  }
}

.index--date {
  font-size: 1.25em;
  font-weight: 700;
  margin: 0 0 3.5%;
  margin-top: 25px;
}