.container {
  max-width: 70%;
  margin: 0 auto;
  padding: 0 5%;
}

.post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post {
  padding: 25px 0;
  font-size: 1.25em;
  overflow: auto;
  color: #fff;

  a {
    color: #2d3436;
    text-decoration: none;
  }

  .title {
    float: left;
  }

  .date {
    color: #adadad;
  }
}

.single {
  .site-info {
    text-align: center;
  }
}